*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.logo{
    float: left;
    width: 113px;
    margin-top: 5px;
    margin-left: 10%;
}
/*logo*/
.search{
    position: absolute;
    top: -1px;
    right: -1px;
    width: 40px;
    height: 38px;
    border: 1px solid #dfdfdf;
    color: #6d6d6d;
    background: url(../image/search.png) center center no-repeat;
    cursor: pointer;
}
.search:hover{
    border: 1px solid #35b558;
    background: #35b558 url(../image/search2.png) center center no-repeat;
}
/*搜索框*/
.hot-words{
    position: absolute;
    top: 9px;
    right: 48px;
    font-size: 12px;
}
.hot-words a{
    display: inline-block;
    color: gray;
    background: #f3f3f3;
    padding: 1px 3px;
    margin-left: 5px;
    text-decoration: none;
}
/*热词*/
#ask{
    border: 1px solid #dfdfdf;
    width: 46%;
    height: 17px;
    padding: 9px 150px 9px 15px;
    line-height: 18px;
    color: #333;
    background: #fff;
    font-size: 12px;
    text-align: left;
    outline:none;
}
/*输入框*/
.ask{
    position: absolute;
    left: 50%;
    /*bottom: 5px;*/
    margin: 0 0 0 -190px;
    width: 380px;
    height: 38px;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 2000;
}
.login{
    font-size: 12px;
    position: relative;
    left: 60%;
    top: -18px;
}
/*登录块*/
.my-massage{
    background: url(../image/massage.gif) left center no-repeat;
    background-size: 15px 13px;
    box-sizing: content-box;
    text-align: left;
    padding-left: 15px;
    position: relative;
}
/*我的消息*/
.link{
    color:#333;
}
/*链接样式*/
.after:after{
    content: "";
    border: none;
    border-left:2px solid black;
    margin: 0px 10px;
}
#loading{
    width: 100%;
    height: 2px;
    overflow: hidden;
    background: #f3f3f3;
}
.loading-length{
    width: 100%;
    height: 2px;
    overflow: hidden;
    background: #35b558;
    /*background: -webkit-gradient(linear,10% 10%,100% 100%,color-stop(0.14,#35b550),color-stop(0.5,#8aca8c),color-stop(1,#2d85ca));*/
}
/*加载条*/
#ending {
    position: relative;
    top: 43px;
    width: 100%;
    height: 2px;
    overflow: hidden;
    background: #f3f3f3;
}
.ending-length{
    width: 100%;
    height: 2px;
    overflow: hidden;
    background: #e8e8e8;
}
.nav{
    height: 42px;
    width: 100%;
    margin-left: 6%;
}
/*导航条*/
ul,li{
    list-style: none;
}
.list{
    display: none;
    position: absolute;
    left: 45px;
    top: 42px;
    z-index: 200;
    width: 75%;
    background: rgba(255,255,255,.97);
    border: 1px solid #e8e8e8;
    border-top: 0;
    padding-left: 50px;
    -webkit-box-shadow: rgba(0,0,0,.1) 0 1px 5px;
    -moz-box-shadow: rgba(0,0,0,.1) 0 1px 5px;
    box-shadow: rgba(0,0,0,.1) 0 1px 5px;
}
.list-item{
    position: relative;
    left: 20px;
    width: 120px;
    margin-left: -1px;
    border-right: 1px solid #F7F7F7;
    float: left;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 14px;
    height: 100%;
}
.list-item:hover{
    background-color: #F7F7F7;
}
/*列表每列*/
.angle{
    background-image: url(../image/angle.png);
    width: 12px;
    height: 7px;
    position: absolute;
    background-size: 100% 100%;
    top: -7px;
    left: 54px;
    /*display: none;*/
}
/*尖角*/
.item-box li a{
    line-height: 29px;
    display: block;
    text-align: left;
    margin-right: 0;
    font-size: 12px;
    color: #666;
}
.item-box li a:hover{
    color: #35b558;
}
.nav{
    height: 42px;
    width: 100%;
    /*position: relative;*/
    /*z-index: 1100;*/
    /*background: rgba(255,255,255,.9);*/
    /*border-bottom: 1px solid #e8e8e8;*/
    /*-webkit-box-shadow: rgba(0,0,0,.1) 0 1px 5px;*/
    /*-moz-box-shadow: rgba(0,0,0,.1) 0 1px 5px;*/
    /*box-shadow: rgba(0,0,0,.1) 0 1px 5px;*/
}
#navbox{
    height: 42px;
    position: relative;
    margin: 0 auto;
}
.navlink{
    display: inline-block;
    width: 120px;
    font-size: 14px;
    color: #333;
    line-height: 42px;
    padding: 0;
    text-align: center;
}
.navlink:hover{
    color: #35b558;
}
/*用户需要*/
.user{
    height: 44px;
    position: absolute;
    z-index: 10;
    top: 50px;
    right: 100px;
    line-height: 44px;
    font-size: 12px;
}
.user a{
    color:#333;
}
.user a:hover{
    color:#35b558;
}
.user span img{
    position: relative;
    top: 2px;
    margin-right: 5px
}
.left{
    /*position: relative;*/
    /*left: 10%;*/
    /*top: 20px;*/
    width: 210px;
    float: left;
    border-top: 2px solid #35b558;
    border-right: 0;
    height: 373px;
    /*margin-left:10px;*/
}
.left ul{
    position: absolute;
    z-index: 100;
    width: 210px;
    height: 371px;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-top: 0;
}
.left  li > div{
    width: 182px;
    height: 37px;
    line-height: 37px;
    padding: 0 15px;
    font-size: 13px;
    color: #333;
    border-bottom: 1px solid #F5F5F5;
    background: #fff url(../image/more-icon.png) 186px center no-repeat;
    background-size: 6px 10px;
    cursor: pointer;
    font-weight: 400;
}
.left li > div:hover{
    color: #333;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-left: -2px;
    height: 38px;
    margin-top: -1px;
    border-left: 2px solid #35b558;
    padding-left: 18px;
    /*border-right: 3px solid #fff;*/
    width: 182px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    box-shadow: 1px 1px 2px rgba(0,0,0,.1);
}
.left li a{
    color:#333;
}
.left li a:hover{
    color:#35b558;
}
.left dt{
    display: block;
    border-bottom: 1px solid #f5f5f5;
    height: 37px;
    line-height: 45px;
}
.left dt a{
    color: #333;
    font-size: 13px;
    font-weight: 400;
}
.left dd{
    list-style: none;
    margin-left: -8px;
    padding: 3px 0;
}
.left li dd a{
    height: 14px;
    line-height: 14px;
    margin-bottom: 10px;
    margin-top: 4px;
    padding: 0 7px;
    color: #666;
    display: inline-block;
    font-size: 12px;
    border-left: 1px solid #e0e0e0;
    float: left;
    white-space: nowrap;
    font-weight: 400;
}
.lesson-list{
    width: 401px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.1);
    overflow: hidden;
    min-height: 373px;
    min-width: 401px;
    background: #fff;
    border: 1px solid #e4e4e4;
    position: absolute;
    left: 209px;
    top: -2px;
    z-index: 100;
    border-left: 0;
    display: none;
    padding-bottom: 30px
}
.lesson-list > div{
    float: left;
    width: 400px;
}
.lesson-list dl{
    margin: 0 10px;
    overflow: hidden;
}
.middle{
    width: 560px;
    float: left;
    position: relative;
    overflow: hidden;
    height: 260px;
    background: #ccc;
    border-right: 0;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    -webkit-transition-property: -webkit-transform,left,top;
    -webkit-transition-duration: 0s;
    -webkit-transform: translate3d(0px,0,0);
    -webkit-transition-timing-function: ease;
    -moz-transition-property: -moz-transform,left,top;
    -moz-transition-duration: 0s;
    -moz-transform: translate3d(0px,0,0);
    -moz-transition-timing-function: ease;
    -o-transition-property: -o-transform,left,top;
    -o-transition-duration: 0s;
    -o-transition-timing-function: ease;
    -o-transform: translate(0px,0);
    -ms-transition-property: -ms-transform,left,top;
    -ms-transition-duration: 0s;
    -ms-transform: translate3d(0px,0,0);
    -ms-transition-timing-function: ease;
    transition-property: transform,left,top;
    transition-duration: 0s;
    transform: translate3d(0px,0,0);
    transition-timing-function: ease;
}
.right{
    width: 210px;
    border: 1px solid #E4E4E4;
    height: 373px;
    overflow: hidden;
    /*position: relative;*/
    /*left: 100px;*/
    margin-top: 2%;
}
.news{
    padding: 0 13px;
    height: 125px;
    border-bottom: 1px solid #E4E4E4;
}
.news h3{
    margin-top: 10px;
    color: #333;
    font-size: 14px;
}
.listnews{
    margin-top: 5px;
}
.item{
    display: block;
    color: #666;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.8;
}
.userinfo{
    height: 86px;
    border-bottom: 1px solid #E4E4E4;
    overflow: hidden;
}
.head-box{
    float: left;
    width: 64px;
    margin-top: 10px;
}
.head-box img{
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
}
.name-wrap{
    float: left;
    width: 140px;
}
.hello-word{
    margin-top: 10px;
}
.word{
    font-size: 12px;
    color: #666;
}
.sentence {
    font-size: 12px;
    color: #333;
    margin-top: 2px;
}
.operate {
    margin-top: 7px;
}
.login-btn {
    margin-right: 10px;
    background: #FB5D20;
    display: block;
    float: left;
    width: 48px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #FFF;
    text-align: center;
}
.register-btn {
    background: #35b558;
    display: block;
    float: left;
    width: 48px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #FFF;
    text-align: center;
}
.tabcontent{
    width: 1000px;
    height: 480px;
    margin: 0 auto;
}
.tab {
    width:90%;
    height: 41px;
    margin: 0 auto;
    background: url(http://s1.jikexueyuan.com/index/images/hotnav_bc_f22b37e.jpg) 0 100% repeat-x;
}
#tab{
    width: 1000px;
    margin: 0 auto;
}
#tab li{
    width: 16.6%;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #666;
    padding: 10px 0;
    cursor: pointer;
}
.tab li.on{
    border-bottom: 2px solid #35b558;
    background: url(../image/greenarr.png) center bottom no-repeat;
    background-size: 10px 4px;
    color: #35b558;
}
.ullist{
    width: 1100px;
    margin-top: 0;
    margin-left:auto;
    margin-right:auto;
}
.ullist li{
    margin-right: 20px;
    background: 0 0;
    margin-bottom: 20px;
    height: 220px;
    width: 235px;
    float: left;
}
.lessonimg-box {
    border: 1px solid #e4e4e4;
    border-bottom: 0;
    width: 235px;
}
.lessonimg {
    width: 100%;
    height: 130px;
}
.lessonplay {
    background: #000;
    background: rgba(0, 0, 0, .4);
    /*width: 100%;*/
    /*height: 100%;*/
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.playericon {
    position: absolute;
    z-index: 120;
    width: 50px;
    height: 50px;
    display: block;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    background: url(../image/player_icon.png) 0 0 no-repeat;
    cursor: pointer;
    background-size: 50px 50px;
}
#professional{
    width: 1000px;
    margin: 0 auto;
}
.lesson-infor {
    border: 1px solid #e4e4e4;
    border-top: 0;
    background: #fff!important;
    height: 88px;
}
.lesson-info-h2,.lesson-infor h5 {
    font-size: 14px;
    color: #333;
    line-height: 18px;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
}
.lesson-infor h2 a, .lesson-infor h2 a:hover,.lesson-infor h5 a, .lesson-infor h5 a:hover {
    color: #333;
}
.lesson-infor p {
    color: gray;
    font-size: 12px;
    line-height: 18px;
     /*height: 0;*/
    overflow: hidden;
    /*opacity: 0;*/
    margin-bottom: 10px;
    /*display: none;*/
}
.timeandicon {
    font-size: 12px;
    color: gray;
    position: relative;
}
.index-public-title strong a {
    font-size: 18px;
    color: #333;
    float: left;
    font-weight: 500;
}
.index-public-title .way {
    font-size: 12px;
    line-height: 13px;
    color: #fff;
    background: #999;
    text-align: center;
    border-radius: 50%;
    display: block;
    width: 13px;
    height: 13px;
    float: left;
    margin: 5px 8px 0;
    cursor: pointer;
}
.index-public-title .way-infor {
    font-size: 12px;
    color: #666;
    padding: 2px 4px;
    border: 1px solid #e4e4e4;
    position: relative;
    display: inline-block;
    box-shadow: 1px 1px 3px #ccc;
    opacity: 0;
    margin-left: -5px;
}
.index-public-title .more-lesson {
    font-size: 12px;
    color: #2d85ca;
    float: right;
    margin-top: 4px;
}
.learn-card{
    width: 1000px;
    margin: 0 auto;
}
.learn-card a {
    width: 20%;
    border: 1px solid #E4E4E4;
    float: left;
    text-align: center;
    display: block;
    height: 300px;
    border-right: 0;
    overflow: hidden;
    box-sizing: border-box;
}
.learn-card a:hover{
    border: 1px solid #35b558;;
}
.mar-t20 {
    margin-top: 20px!important;
}
.w-1000 {
    width: 1000px;
    margin: 0 auto;
}
.learn-card a h2 {
    font-size: 15px;
    color: #333;
    margin-bottom: 20px;
    height: 18px;
    overflow: hidden;
}
.learn-card a p {
    font-size: 12px;
    color: #666;
    line-height: 20px;
    height: 20px;
    width: 199px;
    overflow: hidden;
}
.greenbtn2 {
    width: 140px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    outline: 0
    display: inline-block;
    color: #35b558;
    background: #f3fff6;
    font-size: 16px;
    border: 1px solid #35b558;
    -webkit-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
/*greenbtn2 写9个*/
.learn-card a #Waiting-btn {
    background: #f5f5f5;
    color: gray;
    border: 1px solid #e4e4e4;
    outline: 0;
    width: 140px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    outline: 0;
    font-size: 16px;
}
/*.free-icon {*/
    /*height: 22px;*/
    /*width: 38px;*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*top: -2px;*/
    /*right: 8px;*/
    /*z-index: 101;*/
    /*background: url(http://s1.jikexueyuan.com/common/images/icon_7f8b929.png) -58px -43px no-repeat;*/
/*}*/
#learn-way{
    width: 100%;
    height:643px;
    margin: 0 auto;
}
.mapbox {
    border-bottom: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
    width: 1000px;
    height: 481px;
    overflow: hidden;
}
.mapbox .mapbox-1200 {
    width: 1050px;
}
/*旋转*/
.card-transform {
    width: 167px;
    height: 120px;
    border: 1px solid #E4E4E4;
    border-right: 0;
    border-bottom: 0;
    float: left;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.card-transform .front {
    border-bottom: 1px solid #E4E4E4;
    padding: 15px 0;
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background-color: #fff;
}
.card-transform .front img {
    margin-bottom: 5px;
    height: 40px;
    width: 40px;
}
.card-transform .front h2 {
    margin-bottom: 5px;
    font-size: 15px;
    color: #333;
}
.card-transform .front span {
    font-size: 14px;
    color: #35b558;
}
.card-transform .back strong {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    font-weight: 400;
}
.card-transform .back .greenbtn {
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    width: 140px;
    height: 36px;
    cursor: pointer;
    background: #35b558;
    font-size: 16px;
    border: 1px solid #35b558;
}
.card-transform .back, .card-transform .front {
    border-bottom: 1px solid #E4E4E4;
    width: 167px;
    height: 120px;
    -webkit-backface-visibility: hidden;
    -webkit-transition: .6s;
    -moz-backface-visibility: hidden;
    -moz-transition: .6s;
    -ms-backface-visibility: hidden;
    -ms-transition: .6s;
    backface-visibility: hidden;
    transition: .6s;
    position: absolute;
    left: 0;
    top: 0;
}
.middle{
    position: relative;
    width:560px;
    height:260px;
    /*overflow: hidden;*/
}
.middle .slider{
    width:5000px;
    position: absolute;
    left:0px;
    right:0px;
}
.middle .slider li{
    display:inline-block;
    float: left;
    width: 560px;
    height: 260px;
}
.num{
    position: absolute;
    width:100%;
    left: 0;
    bottom: 10px;
    text-align:center;
    font-size:0px;
}
.num li{
    display: inline-block;
    width: 39px;
    height: 7px;
    cursor: pointer;
    margin: 0 6px;
    background: url(http://s1.jikexueyuan.com/index/images/swiper1_6a811bf.jpg) center center no-repeat;
}
.num li.do{
    background:url(http://s1.jikexueyuan.com/index/images/swiper2_78fab30.jpg) center center no-repeat;
}
.btn{
    display:none;
    width:30px;
    height:50px;
    background:rgba(0,0,0,0.5);
    position: absolute;
    top:50%;
    margin-top:-25px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    color:#fff;
    font-size:40px;
    /*font-family: "宋体";*/
}
.middle:hover .btn{
    display: block;
}
.btn_l{
    left:0;
}
.btn_r{
    right:0;
}
.card-transform {
    width: 167px;
    height: 120px;
    border: 1px solid #E4E4E4;
    border-right: 0;
    border-bottom: 0;
    float: left;
    text-align: center;
    position: relative;
    overflow: hidden
}

.card-transform .back,.card-transform .front {
    border-bottom: 1px solid #E4E4E4;
    width: 167px;
    height: 120px;
    -webkit-backface-visibility: hidden;
    -webkit-transition: .6s;
    -moz-backface-visibility: hidden;
    -moz-transition: .6s;
    -ms-backface-visibility: hidden;
    -ms-transition: .6s;
    backface-visibility: hidden;
    transition: .6s;
    position: absolute;
    left: 0;
    top: 0
}

.card-transform .front {
    border-bottom: 1px solid #E4E4E4;
    padding: 15px 0;
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background-color: #fff
}

.card-transform .front img {
    margin-bottom: 5px;
    height: 40px;
    width: 40px
}

.card-transform .front h2 {
    margin-bottom: 5px;
    font-size: 15px;
    color: #333
}

.card-transform .front span {
    font-size: 14px;
    color: #35b558
}

.card-transform .back {
    padding-top: 30px;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background-color: #f5f5f5
}

.card-transform .back strong {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    font-weight: 400
}

.card-transform .back span {
    display: block;
    font-size: 14px;
    color: gray;
    margin-bottom: 20px
}

.card-transform .back .greenbtn {
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    width: 140px;
    height: 36px;
    cursor: pointer
}

.card-transform:hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.card-transform:hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg)
}
.w-1000{
    width: 1000px;
    margin: 0 auto;
}